.bg .ant-calendar-picker-input{
    margin-bottom: 10px;
}
.bg .content{
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 1px rgba(0,0,0,.1);
    border-radius: 5px;
    background: white;
    overflow: hidden;
}